<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>foodtruck-finder-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B49361FF1C0EBF3D000A3D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B49362131C0EBF3D000A3D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B493621E1C0EBF3D000A3D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
